---
services:
  calibre-web-automated:
    image: crocodilestick/calibre-web-automated:latest
    container_name: calibre-web-automated
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Warsaw
        #- HARDCOVER_TOKEN=your_hardcover_api_key_here
      - NETWORK_SHARE_MODE=false
      - CWA_PORT_OVERRIDE=8083
    volumes:
      - ./config:/config
      - ~/fileshare/calibre/cwa-book-ingest:/cwa-book-ingest
      - ~/fileshare/calibre/calibre-library:/calibre-library
      - ./plugins:/config/.config/calibre/plugins
    ports:
      - 8083:8083
    restart: unless-stopped
